@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Home*/
*{
  margin: 0;
  font-family: "Poppins";
  color: #333;
}

.content {
  width: 99vw;
  height: 99vh;
  margin: 0;
}

.backgroundImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 99vw;
  height: 200vh;
  z-index: -1;
  border: 1px black solid;
}

.navbar {
  position : relative;
  width: 90vw;
  margin: auto;
  border: 1px solid greenyellow;
}
.navbar h1 {
  color: black;
  max-width: 99px;
  text-align: left;
}
.navbar .navbar1{
  margin-left: auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 5px;
  color: 	#F8F8F8;
  z-index: 10;
  position: relative;
}
.navbar a:hover{
  color: black;
}

.home .mulai{
  color: white;
  background-color: #ff0066;
  border-radius: 10px;
  width: 170px;
  height: 75px;
  font-size: 20px;
  margin-top: 40px;
}

.home .h2home {
  border: 1px solid slateblue;  
  padding: 10px;
  margin: auto;
  width: 90%;
}

img .awan{
  position: relative;
  width: 99%;
  height: 99vh;
}

#section-one{
  border: solid 1px blue;
  width: 99vw;
  height: 99vh;
}

#mulai{
  z-index: 5;
  position: relative;
}

#section-two{ 
  width: 99vw; 
  height: 99vh; 
  position: absolute; 
  top:99vh;
  left: 0;
}

.judul{
  border: 1px solid blue;
  width: 99vw;
  height: 0px;
  margin: 0px;
  margin-top: 5% ;
}

.ListCard{
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.hoverList{
  border: 1px solid green;
  width: 20%;
  height: 30%;
  margin-top: 10%;
  margin-right: 10%;
}
.card{
  width: 99%;
}
.home a {
  text-decoration: none;
}

/*Cerita Detail*/
.cerita-detail {
  position: relative;
  border: 1px black solid;
  width: 99vw;
  height: 95vh;
}

.judulCerita {
  position: relative;
  text-align: left;
  margin: 0;
  border: 1px solid purple;
  width: 30%;

  padding-left: 15px;
}

.isiCerita {
  position: fixed;
  text-align: left;
  width: 40%;
  height: 85%;
  margin: 0;

  padding-left: 15px;
  padding-top: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  white-space: pre-line;  
  vertical-align: bottom;
}

.kertas {
  width: 25%;
}

.navbarb {
  position: relative;
  border: 1px solid black;
  width: 99vw;
  height: 5vh;
  margin: 0;
}

.navbarb a {
  padding: 5px;
}

/* button {
  display: inline-block;
  font-size: 16px;
  width: 200px;
  height: 48px;
  border-radius: 48px;
  margin-right: 24px;
  margin-left: 24px;
  color: #fff;
  background-color: #66ccff;
  border: none;
  outline: none;
  box-shadow: 4px 4px #d8d8d8;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:active {
  position: relative;
  top: 4px;
  left: 4px;
  box-shadow: none;
} */